nav{
    background-color: #f53bab;
    width: 1366px;
    height: 150px;
    padding: 300px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.logo{
    width: 400px;
    height: 350px;
}

.logoC{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: left;
    padding-top: 240px;
    padding-left: 0px;
    justify-content: center;
}

.mSalir{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 250px;
    width: 50%;
}

.salir{
    display: flex;
    border: none;
    border-radius: 10px;
    padding: 15px;
    justify-content: center;
    padding-top: 10px;    
    width: 100px;
    height: 40px;
    font-size: medium;
}

.salir:hover{
    color: #ff0099;
    background-color: black;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: auto;  
    scroll-snap-type: y mandatory;
}

button {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
   }
   
   button::before,
   button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   button::before {
    left: -10px;
    background: #ff0099;
   }
   
   button::after {
    right: -10px;
    background: #f53bab;
   }
   
   button:hover::before,
   button:hover::after {
    width: 58%;
   }
   
   button:hover span {
    color: #e0aaff;
    transition: 0.3s;
   }
   
   button span {
    color: #5e0341;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }