.footer {
    background-color: #f53bab;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 800px;
    padding: 10px;
    margin: 5px 0;
    flex-wrap: wrap;
    color: white;
    box-sizing: border-box;
}

.foot h1 {
    margin: 0;
}

.foot p {
    margin: 5px 10px;
}