.head{
    padding-top: 1100px;
}

.navbar{
    background-color: #f53bab;
    height: 240px;
    width: 1400px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.logo{
    width: 400px;
    height: 350px;
}

.caja-logo{
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding-top: 200px;
}

.caja{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 30px;
}

.caja-btn{
    justify-content: right;
    width: 50%;
}

.salir{
    display: flex;
    border: none;
    border-radius: 10px;
    padding: 15px;
    justify-content: center;
    padding-top: 10px;    
    width: 100px;
    height: 40px;
    font-size: medium;
}

.salir:hover{
    color: #ff0099;
    background-color: black;
}

button {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
   }
   
   button::before,
   button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   button::before {
    left: -10px;
    background: #ff0099;
   }
   
   button::after {
    right: -10px;
    background: #f53bab;
   }
   
   button:hover::before,
   button:hover::after {
    width: 58%;
   }
   
   button:hover span {
    color: #e0aaff;
    transition: 0.3s;
   }
   
   button span {
    color: #5e0341;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }

.btn{
    text-decoration: none;
}
