input:focus{
    outline-width: 2px ;
    outline-color: grey;
    outline-style: solid;
}

#divRegistro{
    margin-right: 350px;
    margin-bottom: 125px;
}

#logo{
    display: block;
    max-width: 200px;
    margin-left: 565px;
}

#form-registro{
    width: 600px;
    height: 510px;
    background-color: #eceff0;
    margin-left: 370px;
    box-shadow: 5px 7px 7px #696a6c;
    padding: 20px 30px;
    border-top: 4px solid #696a6c;
    border-bottom: 14px solid #ee2b7b;
    display: block;
    margin-top: -50px;

}

#form-registro h5{
    border-bottom: 3px solid #ee2b7b;
    margin: 0;
    text-align: center;
    height: 35px;
    font-size: 25px;
    margin-top: -10px;
   
}


.control
{
    width: 50%;
    padding: 5px 5px;
    border: none;
    background-color: #d6d6d6be;
    font-size: 15px;
    margin-left: 20px;
}

#btnRegistro
{
    width: 50px;
    height: 35px;
    position: relative;
    margin-left: 200px;
    border-radius: 10%;
    margin-top: 25px;
    font-weight: bold;
    background-color: #696a6c;
}

.textoRegistro
{
    margin-top: 10px;
    margin-left:120px
}

.textoLogin
{
    margin-left: 80px;
    margin-top: 10px;
}

#divCampos
{
    margin-top: 10px;
    margin-left: 50px;
}

.campo
{
    padding: 8px ;
}